Flask==2.2.3
gunicorn==20.1.0
llama-index==0.4.26
httpx==0.23.3
requests==2.28.2
openai==0.27.1
trafilatura==1.4.1
slack-bolt==1.16.4
urllib3==1.26.14
bs4==0.0.1
requests==2.28.2
html2text==2020.1.16
feedparser==6.0.10
validators==0.20.0
Flask-APScheduler==1.12.4
EbookLib==0.18
PyPDF2==3.0.1
docx2txt==0.8
azure-cognitiveservices-speech==1.26.0
langdetect==1.0.9